.flag {
	border-radius: var(--bradius);
	transition: var(--transition);
	background-color: var(--second-bg);
	box-shadow: var(--boxShadow);
	overflow: hidden;
	padding-bottom: var(--s-padding);
	height: 100%;
	display: flex;
	flex-direction: column;
	pointer-events: none;

	&__container-img {
		min-height: 180px;
		height: 180px;

		@include querys(laptops) {
			height: 200px;
		}
	}

	&__image {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__body {
		color: var(--color-text);
		padding: var(--n-padding) var(--l-padding);
		padding-bottom: var(--x-padding);
		margin-top: auto;
	}

	&__title {
		font-weight: var(--fweight-bold);
		margin-bottom: var(--n-margin);
	}

	&__details {
		margin-top: auto;
	}

	&__subtitle {
		margin: 0;
		margin-bottom: var(--s-margin);
		font-weight: var(--fweight-semibold);
	}

	&__text {
		margin: 0;
		font-weight: var(--fweight-normal);
	}

	&__others {
		padding-top: var(--n-padding);
		margin-bottom: var(--n-margin);
	}
}
