extends ../template/template

block header
	include ../blocks/header

block nav 
	include ../blocks/nav

block flags
	include ../blocks/flags

block modal 
	include ../blocks/modal

block footer
	include ../blocks/footer
