.footer {
	margin-top: auto;
	transition: var(--transition);
	border-top: 1px solid var(--border-color);
	background-color: var(--second-bg);
	padding: var(--n-padding);

	&__content {
		text-align: center;
	}
}
